.advantages {
  padding: 20px 0 31px;

  @media (min-width: $tablet-width) {
    padding: 45px 0 58px;

    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 0 83px;

    border: none;
  }
}

.advantages__title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

.advantages__list {
  @media (min-width: $tablet-width) {
    display: grid;

    counter-reset: number;

    gap: 75px 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  position: relative;

  min-height: 60px;
  margin-bottom: 18px;
  padding: 5px 0 3px 80px;

  font-family: $ff-lato;
  color: $dark-content;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 125px 75px 45px 0;

    font-size: 16px;
    line-height: 24px;

    counter-increment: number;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $green;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: 14px;

      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: counter(number);
      position: absolute;
      top: -26px;
      left: 116px;
      z-index: -1;

      margin: 0;

      font-size: 280px;
      line-height: 280px;
      font-family: $ff-oswald;
      color: #f2f2f2;
    }
  }

  &--leaf::before {
    background-image: url("../img/svg/icon-leaf.svg");
  }

  &--water::before {
    background-image: url("../img/svg/icon-water.svg");
  }

  &--eat::before {
    background-image: url("../img/svg/icon-eat.svg");
  }

  &--time::before {
    background-image: url("../img/svg/icon-time.svg");
  }
}
