.advantages__title {
  margin-bottom: 40px;
}

.advantages__list {
  @media (min-width: $tablet-width) {
    display: grid;

    gap: 37px 136px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 77px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  padding-bottom: 26px;

  font-family: $ff-lato;
  color: $dark-content;
}
