.button {
  display: inline-block;
  margin: 0;
  padding: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $ff-oswald;
  text-align: center;
  color: $light;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $green;
  border: none;
  cursor: pointer;
}
