.button {
  display: block;
  width: 168px;
  margin: 0;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  font-family: $ff-oswald;
  text-align: center;
  color: $light;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $green;
  border: none;
  cursor: pointer;
}
