.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $dark;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: $dark;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: $dark;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: grid;

    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 63px 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__item-container {
  display: grid;
  align-items: start;
  height: 100%;

  gap: 12px 0;
  grid-template-columns: 140px, 1fr;

  @media (min-width: $tablet-width) {
    padding: 0 37px 39px;

    background-color: $basic-gray;

    gap: 34px 0;
    grid-template-columns: 1fr;
  }
}

.catalog__descr-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $dark-content;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 21px;
  }
}

.catalog__description {
  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;
  color: $dark-content;
}

.catalog__description-item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__description-item dd {
  margin: 0;
}

.catalog__button {
  margin-top: auto;

  grid-column: 1 / -1;
}
