.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(0deg, #eaeaea 42.5%, $light 42.9%);
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-gray;
    background-image: linear-gradient(0deg, $basic-gray 77%, $light 77%);
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    align-items: start;

    gap: 10px 220px;
    grid-template-columns: 436px 1fr;
  }
}

.example__content {
  padding-bottom: 26px;

  font-family: $ff-lato;
  color: $dark-content;
}

.example__list-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;

    gap: 33px;
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__list {
  display: grid;

  gap: 20px 32px;
  grid-template-columns: repeat(2, 124px);

  @media (min-width: $tablet-width) {
    align-items: center;

    gap: 33px;
    grid-template-columns: repeat(2, 162px);
  }
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  font-family: $ff-oswald;
  color: $dark;
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  font-family: $ff-lato;
}

.example__cost {
  line-height: 20px;
  text-transform: uppercase;
}
