.nav {
  position: relative;

  display: grid;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;

  grid-template-columns: repeat(2, auto);

  @media (min-width: $tablet-width) {
    padding: 24px 0 17px;

    gap: 20px;
    grid-template-columns: auto 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 20px;

    grid-template-columns: repeat(2, 1fr);
  }
}

.nav__logo {
  display: block;
  width: 191px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.nav__logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.nav__toggle {
  position: relative;

  width: 30px;
  height: 30px;
  margin-right: -2px;

  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__toggle-line {
  position: absolute;
  top: 46%;
  left: 50%;

  width: 24px;
  height: 2px;

  background-color: $dark;
  transform: translate(-50%, -50%);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;

    width: 24px;
    height: 2px;

    background-color: $dark;
    transform: translateX(-50%);
  }

  &::before {
    top: 8px;
  }

  &::after {
    top: -8px;
  }
}

.nav.is-open .nav__toggle-line {
  background-color: transparent;

  &::before {
    top: 50%;

    transform: translate(-35%, -50%) rotate(-46deg);
  }

  &::after {
    top: 50%;

    transform: translate(-35%, -50%) rotate(46deg);
  }
}

.nav__list {
  position: absolute;
  top: 100%;
  right: -20px;
  left: -20px;
  z-index: 2;

  display: none;
  flex-direction: column;

  background-color: $light;

  @media (min-width: $tablet-width) {
    position: static;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 5px;

    background-color: transparent;

    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;

    gap: 34px;
  }
}

.nav.is-open .nav__list {
  display: flex;
}

.nav__item {
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.nav__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 22px;

  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $dark;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 10px 0;

    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 0;

    font-size: 20px;
    line-height: 30px;
  }
}

.nav__link--current {
  @media (min-width: $tablet-width) {
    text-decoration: 2px;

    outline: none;

    text-decoration-color: $green;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 12px;
  }
}

.header--home .nav__link {
  @media (min-width: $desktop-width) {
    color: $light;
  }
}

.header--home .nav__link--current {
  @media (min-width: $desktop-width) {
    text-decoration-color: inherit;
  }
}

.no-js .nav {
  @media (max-width: 767px) {
    padding-bottom: 0;
  }
}

.no-js .nav__toggle {
  @media (max-width: 767px) {
    display: none;
  }
}

.no-js .nav__list {
  @media (max-width: 767px) {
    position: static;

    display: block;
    margin: 13px -20px 0;

    grid-column: 1/-1;
  }
}
