.nav {
  position: relative;

  display: grid;
  min-height: 65px;

  grid-template-columns: repeat(2, auto);

  @media (min-width: $tablet-width) {
    gap: 20px;
    grid-template-columns: auto 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.nav__toggle {
  position: relative;

  width: 24px;
  height: 24px;

  background-color: $light;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__list {
  position: absolute;
  top: 100%;
  right: -20px;
  left: -20px;
  z-index: 2;

  display: none;
  flex-direction: column;

  background-color: $light;

  @media (min-width: $tablet-width) {
    position: static;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    background-color: transparent;

    gap: 33px;
  }
}

.nav.is-open .nav__list {
  display: flex;
}

.nav__link {
  color: $dark;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.header--home .nav__link {
  @media (min-width: $desktop-width) {
    color: $light;
  }
}
