.slider {
  position: relative;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 560px;
  }
}

.slider__group {
  position: relative;
  min-height: 256px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 512px;
    margin: 0 auto;
  }
}

.slider__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-color: #eaeaea;
  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.slider__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider__img--before {
  z-index: 20;
}

.slider__img--after {
  right: 0;
  left: auto;
  z-index: 10;
}

.slider__img--before img {
  object-position: left;
}

.slider__img--after img {
  object-position: right;
}

.slider__change {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 30;
  width: 4px;
  background-color: #666666;
  border-radius: 2px;
  transform: translateX(-50%);
}

.slider__change-pin {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #666666;
  background: $light;
  border: 2px solid #666666;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.slider__change-pin svg {
  fill: currentColor;
}
