.social {
  display: grid;
  justify-content: center;

  gap: 24px;
  grid-template-columns: repeat(3, auto);
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;

  color: #666666;

  fill: currentColor;

  &:hover,
  &:focus {
    color: $green;

    outline: none;
  }

  &:active {
    color: rgba(105, 183, 56, 0.3);
  }
}
