@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Oswald";

  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswald/oswaldregular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/lato/latoregular.woff2") format("woff2"),
    url("../fonts/lato/latoregular.woff") format("woff");
}
