*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $ff-oswald;
  color: $dark;

  background-color: $light;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
}
