$light: #ffffff;
$green: #68b738;
$dark-green: #5eaa2f;
$basic-gray: #f2f2f2;
$gray: #d9d9d9;
$light-gray: #cdcdcd;
$dark-content: #444444;
$dark-title: #222222;
$error: #ff8282;
$gray-border: #e7e7e7;
$dark: #000000;

$ff-oswald: "Oswald", "Arial", sans-serif;
$ff-lato: "Lato", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 320px;
